@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
  width: 330px;
  max-height: 640px;
  background: hsl(0, 100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 50px -5px hsl(270, 47%, 20%);
  padding-bottom: 40px;
}

.main-photo {
  width: 240px;
  margin-top: -110px;
}

.bg-pattern {
  position: absolute;
}

.faq-title {
  margin: 50px 0 30px 0;
}

.question-box {
  border-bottom: 2px solid hsl(240, 5%, 91%);
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question-box p {
  font-size: 12px;
  width: 260px;
  padding: 5px 0;
  display: none;
}

.question-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.question-slide h4 {
  font-size: 15px;
  font-weight: 400;
  padding: 4px 0;
}
